# Xmake cache
.xmake/
.vsocde/
.vscode/.cache/*
build/

# MacOS Cache
.DS_Store


.xmake/linux/x86_64/cache/toolchain
.xmake/linux/x86_64/cache/detect
.vscode/compile_commands.json
.vscode/settings.json
.vscode/compile_commands.json
.xmake/linux/x86_64/cache/detect
.xmake/linux/x86_64/cache/toolchain
.vscode/compile_commands.json
CMakeLists.txt
.idea/editor.xml
.idea/.gitignore
.idea/vcs.xml
.idea/modules.xml
.idea/zcode.iml
